main {
    padding-top: 1rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.signup-form {
    padding: 1rem;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
}


/* .signup-form input[type="checkbox"] */

.signup-form input[id*="terms"],
.signup-form input[id*="terms"]+label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type="checkbox"]:checked {
    background: #2ddf5c;
    border: #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color: red !important;
    background: #faacac;
}


/* .signup-form button[type="submit"] {
    display: block;
} */

.modal {
    width: 400px;
    height: 200px;
    background: rgb(203, 226, 203);
    text-align: center;
    z-index: 100;
    display: none;
    border: 2px solid orange;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px black;
    margin: 10% auto;
}

.modal__title {
    color: green;
}

.modal__actions {
    display: inline-block;
}

.modal__action__btn {
    background: rgb(85, 231, 85);
    color: whitesmoke;
    border: 2px solid green;
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    font-size: 1rem;
}

.modal__action__btn:hover {
    cursor: pointer;
    background: whitesmoke;
    color: rgb(85, 231, 85);
    font: inherit;
    box-shadow: 3px 3px 2px black;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 30rem;
        display: grid;
        grid-template-columns: 8rem 33rem;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }
    .signup-form__checkbox {
        grid-column: span 2;
        justify-self: end;
    }
    .signup-form select[id="title"] {
        grid-column: span 2;
    }
    .signup-form button {
        grid-column: 1/3;
    }
}